table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    background-color: white;
}

table.dataTable tbody tr td {
    background-color: rgba(255, 255, 255, 1);
}

table.dataTable.table-striped tbody tr.odd td {
    background-color: rgba(249, 249, 249, 0.25);
}

table.dataTable th.dtfc-fixed-left,
table.dataTable th.dtfc-fixed-right,
table.dataTable td.dtfc-fixed-left,
table.dataTable td.dtfc-fixed-right {
    z-index: 1;
}

div.dtfc-right-top-blocker,
div.dtfc-left-top-blocker {
    margin-top: 6px;
    border-bottom: 0px solid #ddd !important;
}

table.dataTable.table-bordered.dtfc-has-left {
    border-left: none;
}

div.dataTables_scroll.dtfc-has-left table.table-bordered {
    border-left: none;
}

div.dataTables_scrollBody {
    border-left: 1px solid #ddd !important;
}

div.dataTables_scrollFootInner table.table-bordered tr th:first-child,
div.dataTables_scrollHeadInner table.table-bordered tr th:first-child {
    border-left: 1px solid #ddd !important;
}

tr.dt-rowReorder-moving td.dtfc-fixed-left,
tr.dt-rowReorder-moving td.dtfc-fixed-right {
    border-top: 2px solid #888 !important;
    border-bottom: 2px solid #888 !important;
}

tr.dt-rowReorder-moving td.dtfc-fixed-left:first-child {
    border-left: 2px solid #888 !important;
}

tr.dt-rowReorder-moving td.dtfc-fixed-right:last-child {
    border-right: 2px solid #888 !important;
}

table.dataTable.table-striped.DTFC_Cloned tbody {
    background-color: white;
}

table.dataTable th {
    border-bottom-color: #DEE2E6;
    background-color: white;
}

table.dataTable.table-bordered.dtfc-has-left tr td {
    border-left: none;
}

div.dataTables_scrollBody thead tr,
div.DTFC_LeftBodyLiner thead tr,
div.DTFC_RightBodyLiner thead tr {
    height: 0px !important;
}
