div.dtsr-confirmation, div.dtsr-creation {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 500px;
    background-color: white;
    margin-left: -250px;
    border-radius: 6px;
    box-shadow: 0 0 5px #555;
    border: 2px solid #444;
    z-index: 2003;
    box-sizing: border-box;
    padding: 1em;
}

div.dtsr-confirmation div.dtsr-confirmation-title-row, div.dtsr-creation div.dtsr-confirmation-title-row {
    text-align: left;
}

div.dtsr-confirmation div.dtsr-confirmation-title-row h2, div.dtsr-creation div.dtsr-confirmation-title-row h2 {
    border-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

div.dtsr-confirmation div.dtsr-confirmation-text, div.dtsr-creation div.dtsr-confirmation-text {
    text-align: center;
}

div.dtsr-confirmation div.dtsr-confirmation-buttons, div.dtsr-creation div.dtsr-confirmation-buttons {
    text-align: right;
    margin-top: 1em;
}

div.dtsr-confirmation div.dtsr-confirmation-buttons button.dtsr-confirmation-button, div.dtsr-creation div.dtsr-confirmation-buttons button.dtsr-confirmation-button {
    margin: 0px;
}

div.dtsr-confirmation div.dtsr-creation-text, div.dtsr-creation div.dtsr-creation-text {
    text-align: left;
    padding: 0px;
    border: none;
}

div.dtsr-confirmation div.dtsr-creation-text span, div.dtsr-creation div.dtsr-creation-text span {
    font-size: 20px;
}

div.dtsr-confirmation div.dtsr-creation-form div.dtsr-left, div.dtsr-confirmation div.dtsr-creation-form div.dtsr-right, div.dtsr-creation div.dtsr-creation-form div.dtsr-left, div.dtsr-creation div.dtsr-creation-form div.dtsr-right {
    display: inline-block;
    width: 50%;
}

div.dtsr-confirmation div.dtsr-creation-form div.dtsr-left, div.dtsr-creation div.dtsr-creation-form div.dtsr-left {
    text-align: right;
}

div.dtsr-confirmation div.dtsr-creation-form div.dtsr-right, div.dtsr-confirmation div.dtsr-creation-form div.dtsr-name-row, div.dtsr-creation div.dtsr-creation-form div.dtsr-right, div.dtsr-creation div.dtsr-creation-form div.dtsr-name-row {
    text-align: left;
}

div.dtsr-confirmation div.dtsr-creation-form div.dtsr-form-row label.dtsr-name-label, div.dtsr-creation div.dtsr-creation-form div.dtsr-form-row label.dtsr-name-label {
    width: 33.3%;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
}

div.dtsr-confirmation div.dtsr-creation-form div.dtsr-form-row input.dtsr-name-input, div.dtsr-creation div.dtsr-creation-form div.dtsr-form-row input.dtsr-name-input {
    width: 66.6%;
    display: inline-block;
}

div.dtsr-confirmation div.dtsr-creation-form div.dtsr-form-row input.dtsr-check-box, div.dtsr-creation div.dtsr-creation-form div.dtsr-form-row input.dtsr-check-box {
    margin-left: 33.3%;
    margin-right: 14px;
    display: inline-block;
}

div.dtsr-confirmation div.dtsr-creation-form div.dtsr-form-row label.dtsr-toggle-title, div.dtsr-creation div.dtsr-creation-form div.dtsr-form-row label.dtsr-toggle-title {
    margin-right: -33.3%;
}

div.dtsr-confirmation div.dtsr-confirmation-text, div.dtsr-creation div.dtsr-confirmation-text {
    text-align: left;
}

div.dtsr-confirmation div.dtsr-confirmation-text label.dtsr-name-label, div.dtsr-creation div.dtsr-confirmation-text label.dtsr-name-label {
    width: auto;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

div.dtsr-confirmation div.dtsr-confirmation-text input.dtsr-name-input, div.dtsr-creation div.dtsr-confirmation-text input.dtsr-name-input {
    width: 66.6%;
    display: inline-block;
}

div.dtsr-confirmation div.dtsr-confirmation-text input.dtsr-check-box, div.dtsr-creation div.dtsr-confirmation-text input.dtsr-check-box {
    margin-left: 33.3%;
    margin-right: 14px;
    display: inline-block;
}

div.dtsr-confirmation div.dtsr-modal-foot, div.dtsr-creation div.dtsr-modal-foot {
    text-align: right;
    padding-top: 10px;
}

div.dtsr-confirmation span.dtsr-modal-error, div.dtsr-creation span.dtsr-modal-error {
    color: red;
    font-size: 0.9em;
}

div.dtsr-creation {
    top: 10%;
}

div.dtsr-form-row {
    padding: 10px;
}

div.dtsr-check-row {
    padding-top: 0px;
}

div.dtsr-creation-text {
    padding: 10px;
}

div.dtsr-background {
    z-index: 2002;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
}

div.dt-button-collection h3 {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.dt-button-collection span.dtsr-emptyStates {
    border-radius: 5px;
    display: inline-block;
    line-height: 1.6em;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 3px;
    padding-top: 7px;
}

div.dt-btn-split-wrapper {
    margin-bottom: 4px !important;
}

div.dt-btn-split-wrapper button {
    margin-bottom: 0px !important;
}

div.dt-button-collection h3 {
    font-size: 1.1em;
}

div.dtsr-creation-form div.dtsr-form-row input.dtsr-name-input {
    width: 57% !important;
    padding: 5px 4px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

div.dtsr-creation-form div.dtsr-form-row input.dtsr-check-box {
    margin-left: calc(33.3% + 30px) !important;
}

div.dtsr-creation-form div.dtsr-form-row label.dtsr-toggle-title {
    margin-right: calc(-33.3% - 30px) !important;
}
