<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-right">#id</th>
                            <th class="text-center">Puntuación</th>
                            <th class="text-left">Plugin</th>
                            <th class="text-right">Versión</th>
                            <th class="text-left" style="min-width: 300px;">Descripción</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    {loop="$fsc->plugin_manager->downloads()"}
                    <!--{$tr_class=' class="warning"'}-->
                    {if="$value.instalado"}
                    <!--{$tr_class=''}-->
                    {elseif="$value.tipo=='oculto'"}
                    <!--{$tr_class=' class="hidden"'}-->
                    {elseif="!$value.estable"}
                    <!--{$tr_class=' class="danger"'}-->
                    {elseif="$value.tipo=='gratis' || $value.tipo=='regalo'"}
                    <!--{$tr_class=' class="success"'}-->
                    {/if}
                    <tr{$tr_class}>
                        <td class="text-right">{$value.id}</td>
                        <td>
                            {if="!$value.estable"}
                            <span class="label label-danger" title="inestable: no lo instales a menos que sepas lo que haces">inestable</span>
                            {else}
                            {$fsc->plugin_manager->get_stars($value.valoracion)}
                            {/if}
                        </td>
                        <td>{function="nl2br($value.nombre)"}</td>
                        <td class="text-right">{function="number_format($value.version,4,'.','')"}</td>
                        <td>{function="nl2br($value.descripcion_corta)"}</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-sm btn-primary" onclick="mostrar_info('{$value.id}','{$value.descripcion_corta}','{$value.descripcion}');" title="Más información">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; Más información
                            </a>
                            {if="$value.instalado"}
                            <a href="{$fsc->url()}&caca={$fsc->random_string(4)}#plugins" class="btn btn-sm btn-default" title="Instalado">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp; Instalado
                            </a>
                            {elseif="$value.tipo=='pago' || $value.tipo=='externo'"}
                            <a href="{#FS_COMMUNITY_URL#}/plugin/{$value.nombre}" target="_blank" class="btn btn-sm btn-info" title="Comprar">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Comprar
                            </a>
                            {elseif="$value.tipo=='regalo'"}
                            <a href="{#FS_COMMUNITY_URL#}/plugin/{$value.nombre}" target="_blank" class="btn btn-sm btn-info" title="Obtener">
                                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp; Obtener
                            </a>
                            {elseif="$value.estable"}
                            <a href="{$fsc->url()}&caca={$fsc->random_string(4)}&download={$value.id}#plugins" class="btn btn-sm btn-primary" title="Descargar">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Descargar
                            </a>
                            {else}
                            <a href="#" class="btn btn-sm btn-primary" onclick="descargar_plugin_inestable('{$value.id}')" title="Descargar">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Descargar
                            </a>
                            {/if}
                        </td>
                    </tr>
                    {/loop}
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function mostrar_info(id,nombre,descripcion)
    {
        bootbox.setLocale('es');
        bootbox.alert({
            title: id+' '+nombre,
            message: descripcion
        });
    }
</script>
