/**
 * Light mode
 */

.nav-content {
  border: 2px solid #f6f6f6;
  border-top: 0;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark {
  background-color: white;
}