/**
 * Dark mode
 */

.nav-content {
  border: 2px solid #32394e;
  border-top: 0;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark {
    background-color: #101820;
}

table.dataTable.table-striped tbody tr.odd td {
    background-color: var(--bs-table-striped-bg);
}

table.dataTable tbody tr td {
    background-color: var(--bs-table-bg);
}

div.dataTables_scrollBody {
    border-left: var(--bs-table-bg) !important;
}

