.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 13px;
  right: 254px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}