    <div style="margin-bottom: 100px"></div>
</div>

{if="FS_DEMO"}
  <br/>
    <div class="container-fluid hidden-print bg-success">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h3>
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              ¿Te ha convencido?
            </h3>
            <p class="help-block">
              Esta demo sirve para tener una idea rápida de cómo funciona #{$fsc->reseller_data->name},
              con un número reducido de plugins activos y muchas opciones desactivadas.
              Ten en cuenta que hay docenas de personas usando esta demo a la vez.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href='https://www.mifactura.eu/alta.php' target="_blank" class="btn btn-lg btn-block btn-primary">
            <i class="fa fa-download" aria-hidden="true"></i>&nbsp; Empieza a Usarlo es Gratis
          </a>
          <i class="fa fa-cloud" aria-hidden="true"></i>
          <i class="fa fa-windows" aria-hidden="true"></i>
          <i class="fa fa-linux" aria-hidden="true"></i>
          <i class="fa fa-apple" aria-hidden="true"></i>
          Disponible para todas las plataformas desde la Nube.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br/><br/><br/>
        </div>
      </div>
    </div>
{else}
    <div class="modal fade" id="modal_mf">
       <div class="modal-dialog" role="document" style="width: 95%; max-width: 950px;">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
             </div>
             <div class="modal-body">
             </div>
          </div>
       </div>
    </div>


    {if="FS_DEMO"}
        <hr style="margin-top: 50px;" class="hidden-print"/>
    {/if}
{/if}

    {include="credits"}

    <style type="text/css">
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 13px;
            right: 254px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 35px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
          }

        .my-float{
           margin-top:16px;
        }
    </style>

      <!-- </a><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"> -->

    <script type="text/javascript">

      var MessageBirdChatWidgetSettings = {
          widgetId: 'fc6bbc45-b7a8-42c9-a905-f54e2c1a92f8',
          initializeOnLoad: true,
      };
      ! function() {
          "use strict";
          if (Boolean(document.getElementById("live-chat-widget-script"))) console.error("MessageBirdChatWidget: Snippet loaded twice on page");
          else {
              var e, t;
              window.MessageBirdChatWidget = {}, window.MessageBirdChatWidget.queue = [];
              for (var i = ["init", "setConfig", "toggleChat", "identify", "hide", "on", "shutdown"], n = function() {
                      var e = i[d];
                      window.MessageBirdChatWidget[e] = function() {
                          for (var t = arguments.length, i = new Array(t), n = 0; n < t; n++) i[n] = arguments[n];
                          window.MessageBirdChatWidget.queue.push([
                              [e, i]
                          ])
                      }
                  }, d = 0; d < i.length; d++) n();
              var a = (null === (e = window) || void 0 === e || null === (t = e.MessageBirdChatWidgetSettings) || void 0 === t ? void 0 : t.widgetId) || "",
                  o = function() {
                      var e, t = document.createElement("script");
                      t.type = "text/javascript", t.src = "https://livechat.messagebird.com/bootstrap.js?widgetId=".concat(a), t.async = !0, t.id = "live-chat-widget-script";
                      var i = document.getElementsByTagName("script")[0];
                      null == i || null === (e = i.parentNode) || void 0 === e || e.insertBefore(t, i)
                  };
              "complete" === document.readyState ? o() : window.attachEvent ? window.attachEvent("onload", o) : window.addEventListener("load", o, !1)
          }
      }();

      $(document).ready(function() {
        $.ajax({
          dataType: "json",
            url: 'miAJAX.php?action=register&codagente={$fsc->user->codagente}&url='+window.location,
            success: function(data){
              if (data.status=='Ok') {
                  data=data.data;
                  if (data.plugins) {
                      for (c=0;c<data.plugins.length;c++) {
                          $('.btn-info[href$="'+data.plugins[c]+'"').attr("href","index.php?page=ayuda_soporte_plugin&codagente={$fsc->user->codagente}");
                      }
                  }
                 
                  var tt=data.capacidad;
                  var p=data.ocupado*100/tt;
                  p=Math.min(p, 100); // Ajustamos de 0 a 100 para no ver % excedidos
                  p = p.toFixed(2)+'%';
                  var texto='Ocupados '+data.ocupado+'Mb de '+tt+'Mb';
                  if (tt==-1) {
                      texto='Espacio ilimitado';
                      p='&nbsp;&nbsp;∞&nbsp;&nbsp;';
                  }
                  var col='<div class="progress"><div class="progress-bar';
                  if (p<=50) { col+=' progress-bar-success'; }
                  if (p>50)  { col+=' progress-bar-warning'; }
                  if (p>80)  { col+=' progress-bar-danger'; }
                  col+='" role="progressbar" aria-valuenow="'+p+'" aria-valuemin="0" aria-valuemax="100" style="width: '+p+'%;"><b style="color: black;" title="'+texto+'">'+p+'</b></div></div>';

                  if (data.vermodal==1) {
                      $("#modal_mf .modal-header h4").html(data.titulo);
                      $("#modal_mf .modal-body").html(data.texto);
                      $('#modal_mf').modal('show');
                  }

                  /* Para el header de FS*/
                  $("#mf-navbar-collapse-1 > ul.navbar-right").append('<li class="dropdown"><a class="dropdown-toggle" href="index.php?page=ayuda_soporte" style="height: 45px;">'+col+'</span></a></li>');
                  /* Para el header del plugin Menú Único*/
                  //$(".navbar-right").append('<li class="dropdown"><a class="dropdown-toggle" href="index.php?page=ayuda_soporte" style="height: 45px;">'+col+'</span></a></li>');

                  /* Para el header del plugin adminlte*/
                  $(".navbar-custom-menu .navbar-nav").append('<li class="dropdown"><a href="index.php?page=ayuda_soporte" class="dropdown-toggle" data-toggle="dropdown" style="height: 50px;">'+col+'</span></a></li>');
              }
          }
        });
        //cambiamos el menu de ayuda, se supone que este plugin solo lo utilizaran nuestros clientes
        $("ul.navbar-right ul.dropdown-menu:eq(0)").html('<li><a href="https://www.mifactura.eu" target="_blank"><i class="fa fa-book fa-fw" aria-hidden="true"></i> X-Net</a></li><li><a href="https://www.mifactura.eu/contactar.php" target="_blank"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> Contactar</a></li><li><a href="index.php?page=ayuda_soporte_soporte"><i class="fa fa-life-ring fa-fw" aria-hidden="true"></i> Acceso Soporte</a></li><li class="divider"></li><li><a href="#" id="b_feedback"><i class="fa fa-edit fa-fw" aria-hidden="true"></i> Informar de error...</a></li>');
        $("#b_feedback").click(function (event) {
          event.preventDefault();
          $("#modal_feedback").modal("show");
          document.f_feedback.feedback_text.focus();
        });
        //Como este plugin solo lo tendrán los clientes de x-net, interceptamos el envio del formulario de ayuda para que nos lo envie a nosotros
        $("form[name='f_feedback']").attr('action','https://www.mifactura.eu/contactar.php?enviar=reportar');
        $("form[name='f_feedback']").attr('target','_blank');
      });
    </script>
    {include="no_script"}
  </body>
</html>
