{*
Basado en: https://codepen.io/diego-q/pen/qBWjZwr
*}

<div class="wrapper">
   <!-- Sidebar Holder -->
   <nav id="sidebar" class="navbar navbar-default" role="navigation">
      <div class="sidebar-header">
         <h3>&nbsp;</h3>
      </div>

      <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            {if="count($GLOBALS['plugins'])>0"}
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Acceso rápido">
                  <i aria-hidden="true" class="fa fa-star"></i> &nbsp;
                  <span class="text-capitalize">Acceso rápido</span>
               </a>
               <ul class="dropdown-menu">
                  {$menu_ar_vacio=TRUE}
                  {loop="$fsc->user->get_menu()"}
                  {if="$value->important"}
                  <li>
                     <a href="{$value->url()}" class="dropdown-toggle">
                        <i aria-hidden="true" class="fa fa-link"></i> &nbsp;
                        <span class="text-capitalize">{$value->title}</span>
                     </a>
                  </li>
                  {$menu_ar_vacio=FALSE}
                  {/if}
                  {/loop}
                  {if="$menu_ar_vacio"}
                  <li>
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Vacío
                     </a>
                  </li>
                  {/if}
               </ul>
            </li>
            {/if}
            {loop="$fsc->folders()"}
            <li class='dropdown{if="$value1==$fsc->page->folder"} {*active*}{/if}' {if="$value1==$fsc->page->folder"} style="font-weight: bold;"{/if}>
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  {if="$value1=='admin'"}
                  <i class="fa fa-wrench" aria-hidden="true" title="Administración"></i> &nbsp;
                  <span class="text-capitalize">Administración</span>
                  {else}
                  <i class="fa fa-folder" aria-hidden="true" title="{$value1}"></i> &nbsp;
                  <span class="text-capitalize">{$value1}</span>
                  {/if}
               </a>
               <ul class="dropdown-menu">
                  {loop="$fsc->pages($value1)"}
                  <li{if="$value2->showing()"} class="active"{/if}>
                     <a href="{$value2->url()}" {if="$value2->showing()"} style="font-weight: bold;"{/if}>
                        <i class="fa fa-list" aria-hidden="true" title="Administración"></i> &nbsp;
                        <span style="text-transform: none;">{$value2->title}</span>
                     </a>
                  </li>
                  {/loop}
               </ul>
            </li>
            {/loop}
            <div class="sidebar-header">
               <h3>&nbsp;</h3>
            </div>
         </ul>
      </div>
   </nav>

   <div id="content">