{include="main_header"}

{if="$fsc->template_top"}
    {include="$fsc->template_top"}
{else}
<div class="container-fluid" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="btn-group">
                <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
                {if="$fsc->page->is_default()"}
                    <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Marcada como página de inicio (pulsa de nuevo para desmarcar)">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </a>
                {else}
                    <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </a>
                {/if}
            </div>
            <div class="btn-group">
                {loop="$fsc->extensions"}
                    {if="$value->type=='button'"}
                        <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                    {/if}
                {/loop}
            </div>
        </div>
        <div class="col-sm-8 text-right">
            <span class="h2 text-capitalize">{$fsc->page->folder} / {$fsc->page->title}</span>
        </div>
    </div>
</div>
{/if}

<div class="container-fluid" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                {loop="$fsc->tabs"}
                    {if="$value.name == $fsc->active_tab"}
                        <li role="presentation" class="active">
                            <a href="{$fsc->url()}&tab={$value.name}">
                                <i class="fa {$value.icon} fa-fw" aria-hidden="true"></i>
                                <span class="hidden-xs">{$value.title}</span>
                                <span class="badge">{$fsc->show_numero($value.count, 0)}</span>
                            </a>
                        </li>
                    {else}
                        <li role="presentation">
                            <a href="{$fsc->url()}&tab={$value.name}">
                                <i class="fa {$value.icon} fa-fw" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">{$value.title}</span>
                                <span class="badge">{$fsc->show_numero($value.count, 0)}</span>
                            </a>
                        </li>
                    {/if}
                {/loop}
            </ul>

            <form name="f_custom_search" action="{$fsc->url()}&tab={$fsc->active_tab}" method="post" class="form">
                <input type="hidden" name="offset" value="{$fsc->offset}"/>
                <div class="container-fluid" style="margin-top: 15px; margin-bottom: 10px;">
                    <div class="row">
                        {if="count($fsc->get_current_tab('buttons')) > 0"}
                            <div class="col-sm-8 col-md-9 col-lg-10">
                                <div class="btn-group">
                                    {loop="$fsc->get_current_tab('buttons')"}
                                        <!--{$icon=''}{if="$value.icon"}{$icon='<i class="fa ' . $value.icon . '" aria-hidden="true"></i>&nbsp; '}{/if}-->
                                        <a href="{$value.link}" target="{$value.target}" id="{$value.id}" class="btn btn-md {$value.class}">{$icon}{$value.label}</a>
                                    {/loop}
                                </div>
                            </div>
                        {/if}
                        <!--{$sort_options=$fsc->get_current_tab('sort_options')}-->
                        {if="count($sort_options) > 0"}
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                                    </div>
                                    <select name="sort" class="form-control" onchange="this.form.submit();">
                                        {loop="$sort_options"}
                                            {if="$key==$fsc->sort_option"}
                                                <option value="{$key}" selected="">{$value}</option>
                                            {else}
                                                <option value="{$key}">{$value}</option>
                                            {/if}
                                        {/loop}
                                    </select>
                                </div>
                            </div>
                        {/if}
                        {if="count($fsc->get_current_tab('buttons')) > 0"}
                            <!--{$search_columns=$fsc->get_current_tab('search_columns')}-->
                            <div class="col-sm-12" style="margin-top: 10px;">
                                <div role="tabpanel" class="tab-pane active" id="servicios">
                                    <div class="panel panel-info">
                                        <div class="panel-heading" role="tab" id="headingOne"
                                             data-toggle="collapse" href="#collapseSearchFilters" aria-expanded="true" aria-controls="collapseSearchFilters">
                                            <h4 class="panel-title">
                                                <span class="glyphicon glyphicon-search"></span>&nbsp; Filtros de búsqueda
                                            </h4>
                                        </div>
                                        <div id="collapseSearchFilters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="col-row">
                                                    <div class="col-sm-4 col-md-3 col-lg-2">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" autofocus="" placeholder="Buscar"/>
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-primary" type="submit">
                                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    {loop="$fsc->get_current_tab('filters')"}
                                                    <div class="col-sm-4 col-md-3 col-lg-2">
                                                        {$value->show()}
                                                    </div>
                                                    {/loop}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {/if}
                    </div>
                </div>
            </form>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {loop="$fsc->decoration->get_columns($fsc->active_tab)"}
                                            {$class=''}
                                            {if="!is_array($value.class)"}
                                                {$class=$value.class}
                                            {/if}
                                            <th class="{$class}">{$value.title}</th>
                                        {/loop}
                                    </tr>
                                </thead>
                                {loop="$fsc->get_current_tab('cursor')"}
                                    <tr class="{$fsc->decoration->row_class($fsc->active_tab, $value1)}">
                                        {loop="$fsc->decoration->get_columns($fsc->active_tab)"}
                                        {function="fs_fix_html($fsc->decoration->show($key2, $value2, $value1))"}
                                        {/loop}
                                    </tr>
                                {else}
                                    <tr class="warning">
                                        <td colspan="20">Sin resultados</td>
                                    </tr>
                                {/loop}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="pagination">
                            {loop="$fsc->get_pagination()"}
                                <li{if="$value.active"} class="active"{/if}>
                                    <a href="#" onclick="document.f_custom_search.offset.value = '{$value.offset}';document.f_custom_search.submit();">{$value.num}</a>
                                </li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{if="$fsc->template_bottom"}
    {include="$fsc->template_bottom"}
{/if}

{include="main_footer"}
