/*!
 * This file is part of MiFactura.eu
 * Copyright (C) 2021 X-Net Software Solutions S.L. <xnetsoftware@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
body {
    overflow: hidden;
}

.navbar {
    /*height: 3.5rem !important;*/
}


/*
    Donde empieza la parte principal de la página
*/
main.menu-horizontal {
    padding: 3rem 0 0;
}

main.menu-vertical {
    padding: 3.5rem 0 0;
    max-height: 100vh;
}

/*
    Estilos Menú
*/
.nav-style {
    width: 350px;
    height: calc(100vh - 3.5rem - 2.5rem);
    overflow-y: auto;
}

.sidebar-nav{
    width: 245px;
    overflow-y: hidden;
}

/*
    Estilos footer
*/

.footer {
    height: 2.5rem;
    font-size: 0.75rem !important;
}
#content {
    /*
        TODO: Ver con Jose y Marlié, de momento lo comento para no perder espacio
        De todos modos lo añadiría con un p-X o similares
     */
    /*
    margin-left: 280px;
    padding: 40px 20px 20px 40px;
    width: 100%;
    */
    height: calc(100vh - 3.5rem - 2.5rem);
    width: 100%;
    overflow: auto;
}
.select2 {
    width: auto !important;
    min-width: auto !important;
}

.page-title {
    margin-bottom: 0 !important;
    margin-left: 0.5rem !important;
}

/*
TODO: Esta clase debe desaparecer en pro de las nuevas, añadido temporalmente para facilitar la migración a BS5
 */
.form-group {
    margin-top: 0rem !important;
}

i {
    margin: 0 0.25rem 0 0.25rem;
}

ul.dropdown-menu li a:first-letter {
    text-transform: uppercase;
}

.well {
    margin: 5px;
}

.alert {
   margin: 5px;
}

.alert a {
   color: white;
   text-decoration: underline;
}

.modal-header .close {
    color: #222222;
}

.modal-footer {
    margin: 0px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #D9EDF7;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.clickable, .clickableRow:hover {
    cursor: pointer;
}

.modal-dialog {
    z-index: 1050;
}

iframe {
   border: 0px;
}

.vertical-align-bottom {
    float:none;
    vertical-align: bottom !important;
}

.vertical-align-top {
    float:none;
    vertical-align: top !important;
}

.vertical-align-middle {
    float:none;
    vertical-align: middle !important;
}

textarea {
    resize: vertical;
}

.panel-heading:hover {
    cursor: pointer;
}
.panel-heading{
    cursor: default;
}

.page-header {
    margin: 1rem 0 1rem;
}

/**
 * Keep original element in the same spot
 * So that HTML5 valiation message appear in the correct position
 */
.select2-hidden-accessible,
.select2-hidden-accessible:focus {
left: auto!important;
    top: auto!important;
    margin: -1px;
}
