{include="main_header"}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    {$fsc->texto}
                    <span class="btn-group">
                  <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                     <i class="fa fa-refresh" aria-hidden="true"></i>
                  </a>
                  {if="$fsc->page->is_default()"}
                  <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
                     <span class="glyphicon glyphicon-home"></span>
                  </a>
                  {else}
                  <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
                     <span class="glyphicon glyphicon-home"></span>
                  </a>
                  {/if}
               </span>
                </h1>
                <p class="help-block">
                    {$fsc->texto2}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p class="help-block">
                Ahora vamos a mostrar los datos de la lista con la función <b>&#123;loop=""&#125;</b>.
            </p>
            <ul>
                {loop="$fsc->lista"}
                <li>{$value}</li>
                {/loop}
            </ul>
        </div>
        <div class="col-sm-6">
            <p class="help-block">
                <b>&#123;loop=""&#125;</b> tiene un contador $counter que empieza en 0.
            </p>
            <ul>
                {loop="$fsc->lista"}
                <li><b>{$counter}</b> {$value}</li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>
                Y ahora vamos a mostrar en una tabla los resultados de la consulta
                <mark>select * from paises;</mark>
            </h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Codpais</th>
                        <th>ISO</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    {loop="$fsc->resultados_sql"}
                    <tr>
                        <td>{$value['codpais']}</td>
                        <td>{$value['codiso']}</td>
                        <td>{$value['nombre']}</td>
                    </tr>
                    {/loop}
                </table>
            </div>
        </div>
    </div>
</div>

{include="main_footer"}
