{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% set description = main.description | raw %}
    {% set author = main.author | raw %}
    {% if description is not empty %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if author is not empty %}
        <meta name="author" content="{{ author }}">
    {% endif %}
    <meta name="generator" content="Alxarafe"/>
    <link rel="shortcut icon" href="{{ getResourceUri('/img/favicon.ico') }}"/>

    <title>{% block title %}{{ trans(ctrl.title) }}{% endblock %} - Alxarafe</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ getResourceUri('/bower_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ getResourceUri('/bower_modules/fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ getResourceUri('/bower_modules/select2/dist/css/select2.min.css') }}">
        {% for css in cssCode %}
            <link rel="stylesheet" href="{{ css }}"/>
        {% endfor %}
        <link rel="stylesheet" href="{{ getResourceUri('/css/alxarafe.css') }}">
        {# start of getHeader #}
        {{ getHeader() | raw }}
        {# end of getHeader #}
        {% block extraStylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>

{% block menu %}{% include '@Core/master/menu.twig' %}{% endblock %}

<div class="container-fluid" id="titlecontent" name="titlecontent">
{% block errors %}{% include '@Core/master/errors.twig' %}{% endblock %}

{% block bodytitle %}
        {% if ctrl.title is not empty %}
            <h3>{{ trans(ctrl.title) }}</h3>
        {% endif %}
        {% if ctrl.description is not empty %}
            <small>{{ trans(ctrl.description) }}</small>{% endif %}
    {% endblock %}
</div>

<br/>

<div class="container-fluid" id="messagescontent" name="messagescontent">
    {% set messages = flash(['messages']) %}
    {% if messages is not empty %}
        {% for pos, message in messages %}
            {% set data = {
                'class': 'alert alert-' ~ message.type,
                'dismissible': true,
                'message': '<h4>' ~ trans('title-messages-' ~ message.type) ~ '</h4>' ~ message.msg | raw,
                'style': 'width: 100%'
            } %}
            {% include "@Core/components/alert.html.twig" with data %}
        {% endfor %}
    {% endif %}
</div>

<div class="container-fluid" id="bodycontent" name="bodycontent">
    {% block body %}{% endblock %}
</div>

<footer class="footer" id="footercontent" name="footercontent">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <p class="text-muted">
                    <span>
                        {{ copyright() | raw }}
                    </span>
                </p>
            </div>
            <div class="col-xs-4 text-center">
                <p class="text-muted" title="{{ getTotalTime() }}">
                    <span>
                        <i class="far fa-clock"></i>
                    </span>
                </p>
            </div>
            <div class="col-xs-4 text-right">
                <p class="text-muted">
                    <a target="_blank" href="https://github.com/alxarafe/alxarafe" title="{{ trans('see-on-github') }}">
                        <i class="fab fa-github"></i>
                    </a>
                    <a target="_blank" href="https://github.com/alxarafe/alxarafe/fork" title="{{ trans('fork-us') }}">
                        <i class="fas fa-code-branch"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

{# Including jsCode #}
{% block javascriptsFooter %}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/bootbox.js/dist/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/select2/dist/js/select2.min.js') }}"></script>

    {# Values to be available from external JavaScript files #}
    <script type="text/javascript">
        {% include '@Core/js/common.js.twig' %}
    </script>

    {#    {% for js in jsCode %}#}
    {#    <script type="text/javascript" src="{{ js }}"></script>#}
    {#    {% endfor %}#}
    {% block extraJavascriptsFooter %}{% endblock %}
    {# Start of getFooter #}
    {{ getFooter() | raw }}
    {# End of getFooter #}
{% endblock %}
{# End of jsCode inclusion #}
</body>
</html>
