<div class="panel-heading">
    <h3 class="panel-title">Personalización</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            Tipo de formulario de acceso:
            <select name="plantilla_login" class="form-control">
                {loop="$fsc->plantillas"}
                    {if="$fsc->empresa->plantilla_login==$value->plantilla_login"}
                        <option value="{$value->plantilla_login}" selected="">{$value->nombre}</option>
                    {else}
                        <option value="{$value->plantilla_login}">{$value->nombre}</option>
                    {/if}
                {/loop}
            </select>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            Imagen de fondo:
            <div class="form-group">
                {$dashboardgb=FS_MYDOCS.'images/dashboardbg.jpg'}
                <input id="dashboardbg" name="dashboardbg" type="file" accept="image/jpeg"/>
                {if="file_exists($dashboardgb)"}
                <div class="thumbnail">
                    <img class="media-object" src="{$dashboardgb}" style="width: 100px;" alt="Fondo">
                    <a class="btn btn-sm btn-danger" href="{$fsc->url()}&action=delete_dashboardbg" title="Eliminar fondo">
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Eliminar fondo
                    </a>
                    <br/>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
<div class="panel-footer" style="text-align: right;">
    <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true; this.form.action = '{$fsc->url()}#personalizacion'; this.form.submit();">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
    </button>
</div>
