{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
{% extends "@Core/index.twig" %}

{% block title %}{{ trans('list-of') }} {{ trans(ctrl.title) }}{% endblock %}

{% block extraStylesheets %}
    {{ parent() }}
    {# Additional for BS3 style #}
    <link rel="stylesheet" href="{{ getResourceUri('/bower_modules/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ getResourceUri('/bower_modules/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ getResourceUri('/bower_modules/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ getResourceUri('/bower_modules/datatables.net-colreorder-bs/css/colReorder.bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    {% import "master/autoforms.twig" as forms %}

    {% set encType = '' %}
    {% if ctrl.encType is not empty %}
        {% set encType = 'enctype="' ~ ctrl.encType ~ '"' %}
    {% endif %}
    <form action="{{ ctrl.url }}" method="post" accept-charset="utf-8" {{ encType }}>
        {% set baseLink = ctrl.url ~ '&' ~ constant('METHOD_CONTROLLER') %}
        {% set createLink = baseLink ~ '=create' ~ '&' ~ ctrl.model.getIdField() ~ '=' %}
        <div class="row">
            <div class="col-xs-1">
                {% set url = getUrl('index.php') %}
                <a name="cancel" class="btn btn-danger btn-sm" href="{{ url }}">
                    <i class="fas fa-chevron-left"></i>
                    <span class="hidden-xs hidden-sm hidden-md">&nbsp;{{ trans('back') }}</span>
                </a>
            </div>
            <div class="col-xs-5">
                {% if ctrl.getExtraActions() is not empty %}
                    {% if ctrl.getExtraActions()|length > 1 %}
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="extraActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ trans('extra-actions') }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="extraActions">
                                {% for extraAction in ctrl.getExtraActions() %}
                                    <li>
                                        <a href="{{ extraAction.link }}">
                                            {{ extraAction.icon|raw }}
                                            &nbsp;{{ trans(extraAction.text) }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        {% for extraAction in ctrl.getExtraActions() %}
                            <a href="{{ extraAction.link }}" class="btn btn-{{ extraAction.type }} btn-sm">
                                {{ extraAction.icon|raw }}
                                <span class="hidden-md">&nbsp;{{ trans(extraAction.text) }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-xs-6 text-right">
                <a href="{{ createLink }}" class="btn btn-success btn-sm">
                    <i class="fas fa-plus"></i>
                    <span class="hidden-xs hidden-sm hidden-md">&nbsp;{{ trans('add-new') }}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% set tableHeader = ctrl.getTableHeader() %}
                {% set tableBody = ctrl.getTableBody() %}
                {% set tableFooter = ctrl.getTableFooter() %}

                <div class="table-responsive ">
                    <table id="{{ ctrl.code }}" class="table table-bordered table-hover table-striped table-bordered" align="center">
                        <thead>
                        <tr>
                            {% for key, item in tableHeader %}
                                {% if key in ctrl.getDefaultColumnsSearch() %}
                                    <th
                                            {% if item.class is defined %} class="{{ item.class }}"{% endif %}
                                            {% if item.style is defined %} style="{{ item.style }}"{% endif %}
                                    >
                                        {{ item.label }}
                                    </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        {% if tableFooter is not empty %}
                            <tfoot>
                            <tr>
                                {% for key, item in tableFooter %}
                                    {% if key in ctrl.getDefaultColumnsSearch() %}
                                        <th
                                                {% if item.class is defined %} class="{{ item.class }}"{% endif %}
                                                {% if item.style is defined %} style="{{ item.style }}"{% endif %}
                                        >
                                            {{ item.label }}
                                        </th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block extraJavascriptsFooter %}
    {{ parent() }}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    {# Additional for BS3 style #}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-colreorder/js/dataTables.colReorder.min.js') }}"></script>
    {# Additional for BS3 style #}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-colreorder-bs/js/colReorder.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    {# Additional for BS3 style #}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-buttons-bs/js/buttons.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    {# Additional for BS3 style #}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-responsive-bs/js/responsive.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/jszip/dist/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/pdfmake/build/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/pdfmake/build/vfs_fonts.js') }}"></script>
    {# Additional for BS3 style #}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    {# Additional for BS3 style #}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    {# Additional for BS3 style #}
    <script type="text/javascript" src="{{ getResourceUri('/bower_modules/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>

    <script type="text/javascript" src="{{ getResourceUri('/js/common.js') }}"></script>
    <script type="text/javascript">
        if ('{{ ctrl.code }}' !== '') {
            if (typeof (tables) == 'undefined') {
                var tables = [];
            }
            var pkField = '{{ ctrl.model.getIdField() }}';
            tables['{{ ctrl.code }}'] = {
                'rowsPerPage': {{ constant('DEFAULT_ROWS_PER_PAGE') }},
                'url': '{{ (ctrl.url ~ '&' ~ constant('METHOD_CONTROLLER') ~ '=ajaxTableData')|raw }}',
                'columns': '{{ ctrl.getDefaultColumnsSearch()|json_encode|raw }}',
                'pkField': '{{ ctrl.model.getIdField() }}',
            };
        }
    </script>
{% endblock %}
