{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
{% extends "@Core/index.twig" %}

{% block title %}{{ trans('showing') }} {{ trans(ctrl.title) }}{% endblock %}

{% block extraStylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="{{ getResourceUri('/css/common.css') }}"> #}
{% endblock %}

{% block body %}
    {% import "master/autoforms.twig" as forms %}

    {% set encType = '' %}
    {% if ctrl.encType is not empty %}
        {% set encType = 'enctype="' ~ ctrl.encType ~ '"' %}
    {% endif %}

    {% set formType = 'form-horizontal' %}
    {% if ctrl.viewData.form-type is not empty %}
        {% set formType = ctrl.viewData.form-type %}
    {% endif %}

    <form action="{{ ctrl.url | raw }}" method="post" accept-charset="utf-8" {{ encType }} class="{{ formType }}">
        {% set listFields = ctrl.getListFields() %}

        {% for regKey, registers in listFields %}
            {% for itemKey, item in registers %}
                <div class="row">
                    {{ forms.generateField(item, itemKey, false, true, true, ctrl) }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a name="cancel" href="{{ ctrl.url }}" class="btn btn-danger btn-sm" type="submit" onClick="allowClose();" formnovalidate>
                    <i class="fas fa-chevron-left"></i>
                    {{ trans('back') }}
                </a>
            </div>
            <div class="col-xs-6 text-right">
                <button name="action" type="submit" class="btn btn-primary btn-sm" value="accept" onClick="allowClose();" formnovalidate>
                    <i class="fas fa-check"></i>
                    {{ trans('accept') }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block extraJavascriptsFooter %}
    {{ parent() }}
    <script type="text/javascript" src="{{ getResourceUri('/js/common.js') }}"></script>
{% endblock %}
