{include="main_header"}

{if="$fsc->rol"}
<script type="text/javascript">
   function check_allow_delete(counter)
   {
      if( $("#enabled_"+counter).is(':checked') )
      {
         $("#allow_delete_"+counter).prop('checked', true);
      }
      else
      {
         $("#allow_delete_"+counter).prop('checked', false);
      }
   }
   $(document).ready(function() {
      $("#b_eliminar_rol").click(function(event) {
         event.preventDefault();
         bootbox.confirm({
            message: '¿Realmente desea eliminar el rol {$fsc->rol->codrol}?',
            title: '<b>Atención</b>',
            callback: function(result) {
               if (result) {
                  window.location.href = "index.php?page=admin_users&delete_rol="+encodeURIComponent("{$fsc->rol->codrol}")+"#roles";
               }
            }
         });
      });
      $('#marcar_todo_ver').click(function() {
         var checked = $(this).prop('checked');
         $("#f_rol_pages input[name='enabled[]']").prop('checked', checked);
      });
      $('#marcar_todo_eliminar').click(function() {
         var checked = $(this).prop('checked');
         $("#f_rol_pages input[name='allow_delete[]']").prop('checked', checked);
      });
   });
</script>

<form action="{$fsc->rol->url()}" method="post" class="form" id="f_rol_pages">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group">
               <a class="btn btn-sm btn-default" href="index.php?page=admin_users#roles">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  <span class="hidden-xs">&nbsp; Roles</span>
               </a>
               <a class="btn btn-sm btn-default" href="{$fsc->rol->url()}" title="recargar la página">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
               </a>
            </div>
            <div class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}&codrol={$fsc->rol->codrol}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
            <a class="btn btn-sm btn-success" href="index.php?page=admin_users#nuevorol" title="Nuevo rol">
               <span class="glyphicon glyphicon-plus"></span>
            </a>
         </div>
         <div class="col-sm-6 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a href="#" id="b_eliminar_rol" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs hidden-sm">&nbsp;Eliminar</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp;Guardar</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>
                  <i class="fa fa-address-card-o" aria-hidden="true"></i>
                  Rol <small>{$fsc->rol->codrol}</small>
               </h1>
            </div>
            <div class="form-group">
               <input type="text" name="descripcion" value="{$fsc->rol->descripcion}" class="form-control" autocomplete="off"/>
            </div>
         </div>
      </div>
   </div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#autorizar" aria-controls="usuarios" role="tab" data-toggle="tab">
            <i class="fa fa-check-square" aria-hidden="true"></i>
            <span class="hidden-xs">&nbsp;Autorizar</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#usuarios" aria-controls="usuarios" role="tab" data-toggle="tab">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="hidden-xs">&nbsp;Usuarios</span>
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="autorizar">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Página</th>
                     <th class="text-left">Menú</th>
                     <th class="text-center">Ver / Modificar</th>
                     <th class="text-center">Permiso de eliminación</th>
                  </tr>
               </thead>
               <tr class="warning">
                  <td colspan="2"></td>
                  <td class="text-center" title="Marcar/desmarcar todos">
                     <input id="marcar_todo_ver" type="checkbox" name="p_ver_modificar" value=""/>
                  </td>
                  <td class="text-center" title="Marcar/desmarcar todos">
                     <input id="marcar_todo_eliminar" type="checkbox" name="p_eliminar" value=""/>
                  </td>
               </tr>
               {loop="$fsc->all_pages()"}
                  <tr>
                     <td>{$value->name}</td>
                     <td>
                        {if="$value->important"}
                        <span class="glyphicon glyphicon-star"></span> » {$value->title}
                        {elseif="$value->show_on_menu"}
                        <span class="text-capitalize">{$value->folder}</span> » {$value->title}
                        {else}
                        -
                        {/if}
                     </td>
                     <td class="text-center">
                        <input type="checkbox" id="enabled_{$counter}" name="enabled[]" value="{$value->name}" onclick="check_allow_delete('{$counter}')"{if="$value->enabled"} checked=""{/if}/>
                     </td>
                     <td class="text-center">
                        <input type="checkbox" id="allow_delete_{$counter}" name="allow_delete[]" value="{$value->name}"{if="$value->allow_delete"} checked=""{/if} title="el usuario tiene permisos para eliminar en esta página"/>
                     </td>
                  </tr>
               {/loop}
            </table>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="usuarios">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th width="40" style="min-width: 40px;"></th>
                     <th class="text-left">Nick</th>
                     <th class="text-left">Email</th>
                     <th class="text-right">Último login</th>
                  </tr>
               </thead>
               {loop="$fsc->all_users()"}
                  <tr{if="$value->included"} class="success"{/if}>
                     <td class="text-center">
                        {if="$value->admin"}
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        {else}
                        <input type="checkbox" id="enabled_{$counter}" name="iuser[]" value="{$value->nick}" {if="$value->included"} checked=""{/if}/>
                        {/if}
                     </td>
                     <td>
                        <a href="{$value->url()}">{$value->nick}</a>
                        {if="$value->admin"}
                        &nbsp; <span class="label label-warning">administrador</span>
                        {/if}
                     </td>
                     <td>{$value->email}</td>
                     <td class="text-right">{$value->show_last_login()}</td>
                  </tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</form>
{else}
{include="parts/broken"}
{/if}

{include="main_footer"}
