{include="main_header"}

<script type="text/javascript">
   $(document).ready(function () {
      $(".sortable").sortable();
      $(".sortable").disableSelection();
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Ordenar menú
               <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
               </a>
            </h1>
            <p class="help-block">
               Ordena libremente las entradas de cada menú. Al terminar pulsa <b>guardar</b>.
            </p>
         </div>
      </div>
   </div>
   <form action="{$fsc->url()}" method="post" class="form">
      <input type="hidden" name="guardar" value="TRUE"/>
      <div class="row">
      {loop="$fsc->folders()"}
         {if="$counter1%4==0"}</div><div class="row">{/if}
         <div class="col-sm-3">
            <h3>
               <i class="fa fa-folder-open-o" aria-hidden="true"></i> {$value1}
            </h3>
            <p class="help-block">
               Haz clic y mantén pulsado para mover las entradas del menú.
            </p>
            <ul class="list-group sortable">
               {loop="$fsc->pages($value1)"}
               <li class="list-group-item clickable">
                  <i class="fa fa-arrows-v" aria-hidden="true"></i> &nbsp; {$value2->title}
                  <input type="hidden" name="{$value1}_{$counter2}" value="{$value2->name}"/>
               </li>
               {/loop}
            </ul>
         </div>
      {/loop}
      </div>
      <div class="row">
         <div class="col-sm-12">
            <button class="btn btn-sm btn-primary" type="submit">
               <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
            </button>
         </div>
      </div>
   </form>
</div>

{include="main_footer"}
