{include="main_header"}

<div class='container-fluid'>
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-globe"></span>
               Empresa / web
               <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
               </a>
            </h1>
            <p class="help-block">
               <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;
               Para poder configurar el resto de opciones de la empresa debes instalar el plugin
               <b>facturacion_base</b>.
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-2 col-sm-3">
         <ul class="nav nav-pills nav-stacked">
            <li id="b_generales" class="active">
               <a href="#generales" onclick="mostrar_seccion('');">
                  <span class="glyphicon glyphicon-dashboard"></span> &nbsp; Datos generales
               </a>
            </li>
            <li id="b_personalizacion">
               <a href="#personalizacion" onclick="mostrar_seccion('personalizacion');">
                  <span class="glyphicon glyphicon-picture"></span> &nbsp; Personalización
               </a>
            </li>
            <li id="b_email">
               <a href="#email" onclick="mostrar_seccion('email');">
                  <span class="glyphicon glyphicon-envelope"></span> &nbsp; Email
               </a>
            </li>
            {loop="$fsc->extensions"}
            {if="$value->type=='button'"}
            <li>
               <a href="index.php?page={$value->from}{$value->params}">{$value->text}</a>
            </li>
            {/if}
            {/loop}
         </ul>
      </div>
      <div class="col-md-10 col-sm-9">
         <form name="f_empresa" action="{$fsc->page->url()}" method="post" class="form" role="form" enctype="multipart/form-data">
            <div class="panel panel-primary" id="panel_generales">
               <div class="panel-heading">
                  <h3 class="panel-title">Datos generales</h3>
               </div>
               <div class="panel-body">
                  <div class="form-group">
                     Nombre:
                     <input class="form-control" type="text" name="nombre" value="{$fsc->empresa->nombre}" autocomplete="off" autofocus />
                  </div>
                  <div class="form-group">
                     Nombre Corto:
                     <input class="form-control" type="text" name="nombrecorto" value="{$fsc->empresa->nombrecorto}" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                     Web:
                     <input class="form-control" type="text" name="web" value="{$fsc->empresa->web}" autocomplete="off"/>
                  </div>
               </div>
               <div class="panel-footer text-right">
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                  </button>
               </div>
            </div>
            <div class="panel panel-primary" id="panel_personalizacion">
               {include="block/admin_empresa_personalizacion"}
            </div>
            <div id="panel_email">
               {include="block/admin_empresa_email"}
            </div>
         </form>
      </div>
   </div>
</div>


<script type="text/javascript">
   function comprobar_url()
   {
      switch (window.location.hash.substring(1)) {
         case 'personalizacion':
            mostrar_seccion('personalizacion');
            break;
         case 'email':
            mostrar_seccion('email');
            break;
         default:
            mostrar_seccion();
            break;
      }
   }
   function mostrar_seccion(id)
   {
      $("#panel_generales").hide();
      $("#panel_personalizacion").hide();
      $("#panel_email").hide();

      $("#b_generales").removeClass('active');
      $("#b_personalizacion").removeClass('active');
      $("#b_email").removeClass('active');

      switch (id) {
         case 'personalizacion':
            $("#panel_personalizacion").show();
            $("#b_personalizacion").addClass('active');
            break;
         case 'email':
            $("#panel_email").show();
            $("#b_email").addClass('active');
            document.f_empresa.email.focus();
            break;
         default:
            $("#panel_generales").show();
            $("#b_generales").addClass('active');
            document.f_empresa.nombre.focus();
            break;
      }
   }
   $(document).ready(function () {
      comprobar_url();
      window.onpopstate = function () {
         comprobar_url();
      };
   });
</script>

{include="main_footer"}
