{include="main_header"}


<script type="text/javascript">
   $(document).ready(function() {
      if(window.location.hash.substring(1) == 'nuevo')
      {
         $("#modal_nuevo_usuario").modal('show');
         document.f_nuevo_usuario.nnick.focus();
      }
      else if(window.location.hash.substring(1) == 'roles')
      {
         $('#tab_usuarios a[href="#roles"]').tab('show');
      }
      else if(window.location.hash.substring(1) == 'nuevorol')
      {
         $('#tab_usuarios a[href="#roles"]').tab('show');
         $("#modal_nuevo_rol").modal('show');
         document.f_nuevo_rol.descripcion.focus();
      }
      $("#b_nuevo_usuario").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_usuario").modal('show');
         document.f_nuevo_usuario.nnick.focus();
      });
      $("#b_nuevo_rol").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_rol").modal('show');
         document.f_nuevo_rol.nrol.focus();
      });
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6 col-xs-7">
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <i class="fa fa-refresh" aria-hidden="true"></i>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Marcada como página de inicio (pulsa de nuevo para desmarcar)">
               <i class="fa fa-bookmark" aria-hidden="true"></i>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
               <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-6 col-xs-5 text-right">
         <h2 style="margin-top: 0px;">Usuarios</h2>
      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div role="tabpanel">
            <ul id="tab_usuarios" class="nav nav-tabs" role="tablist">
               <li role="presentation" class="active">
                  <a href="#usuarios" aria-controls="usuarios" role="tab" data-toggle="tab">
                     <i class="fa fa-users" aria-hidden="true"></i>
                     <span class="hidden-xs">&nbsp;Usuarios</span>
                     <span class="badge">{function="count($fsc->user->all())"}</span>
                  </a>
               </li>
               {if="!FS_DEMO"}
               <li role="presentation">
                  <a href="#permisos" aria-controls="permisos" role="tab" data-toggle="tab">
                     <i class="fa fa-check-square" aria-hidden="true"></i>
                     <span class="hidden-xs">&nbsp;Permisos</span>
                  </a>
               </li>
               <li role="presentation">
                  <a href="#roles" aria-controls="roles" role="tab" data-toggle="tab">
                     <i class="fa fa-address-card-o" aria-hidden="true"></i>
                     <span class="hidden-xs">&nbsp;Roles</span>
                  </a>
               </li>
               {/if}
               <li role="presentation">
                  <a href="#historial" aria-controls="historial" role="tab" data-toggle="tab">
                     <i class="fa fa-history" aria-hidden="true"></i>
                     <span class="hidden-xs">&nbsp;Historial</span>
                  </a>
               </li>
            </ul>

            <div class="tab-content">
               <div role="tabpanel" class="tab-pane active" id="usuarios">
                  <div class="container-fluid" style="margin-top: 15px; margin-bottom: 10px;">
                     <div class="row">
                        <div class="col-sm-6">
                           <a id="b_nuevo_usuario" class="btn btn-sm btn-success" href="#">
                              <span class="glyphicon glyphicon-plus"></span>
                              <span class="hidden-xs">&nbsp;Nuevo</span>
                           </a>
                        </div>
                        <div class="col-sm-6 text-right">
                           <p class="help-block">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
                              Instala el plugin <b>login_anonimo</b> para que no salga la lista
                              de usuarios en la pantalla de login.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th class="text-left">Nick</th>
                              <th class="text-left">Email</th>
                              <th class="text-left">Empleado</th>
                              <th class="text-center">Activado</th>
                              <th class="text-center">Administrador</th>
                              <th class="text-left">IP</th>
                              <th class="text-left">Página de inicio</th>
                              <th class="text-right">Último login</th>
                           </tr>
                        </thead>
                        {loop="$fsc->user->all()"}
                        <tr class='clickableRow{if="$value->show_last_login()=='-'"} warning{/if}' href='{$value->url()}'>
                           <td><a href="{$value->url()}">{$value->nick}</a></td>
                           <td>{if="FS_DEMO"}XXX@XXX.com{else}{$value->email}{/if}</td>
                           <td>{$value->get_agente_fullname()}</td>
                           <td class="text-center">
                              {if="$value->enabled"}<span class="glyphicon glyphicon-ok"></span>{else}<span class="glyphicon glyphicon-lock"></span>{/if}
                           </td>
                           <td class="text-center">
                              {if="$value->admin"}<span class="glyphicon glyphicon-ok"></span>{/if}
                           </td>
                           <td>{if="FS_DEMO"}XX.XX.XX.XX{else}{$value->last_ip}{/if}</td>
                           <td>{$value->fs_page}</td>
                           <td class="text-right">{$value->show_last_login()}</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
               {if="!FS_DEMO"}
               <div role="tabpanel" class="tab-pane" id="permisos">
                  <div class="container-fluid" style="margin-top: 15px; margin-bottom: 10px;">
                     <div class="row">
                        <div class="col-sm-12">
                           <p class="help-block">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
                              Aquí puedes ver rápidamente qué usuarios tienen permiso para acceder
                              a cada página. En <span class="label label-warning">destacado</span>
                              los que tienen permisos para ver, modificar y eliminar, el resto
                              solamente tienen permisos para ver y modificar.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th class="text-left">Página</th>
                              <th class="text-left">Usuarios con permiso</th>
                           </tr>
                        </thead>
                        {loop="$fsc->all_pages()"}
                           <tr>
                              <td>{$value->name}</td>
                              <td>
                                 {loop="$value->users"}
                                    {if="$value2['delete']"}
                                    <a href="index.php?page=admin_user&snick={$key2}" class="label label-warning" title="{$key2} puede ver, modificar y eliminar en {$value1->name}">
                                       {$key2}
                                    </a>&nbsp;
                                    {elseif="$value2['modify']"}
                                    <a href="index.php?page=admin_user&snick={$key2}" class="label label-default" title="{$key2} puede ver y modificar en {$value1->name}, pero no eliminar">
                                       {$key2}
                                    </a>&nbsp;
                                    {/if}
                                 {/loop}
                              </td>
                           </tr>
                        {/if}
                     </table>
                  </div>
               </div>
               <div role="tabpanel" class="tab-pane" id="roles">
                  <div class="container-fluid" style="margin-top: 15px; margin-bottom: 10px;">
                     <div class="row">
                        <div class="col-sm-6">
                           <a id="b_nuevo_rol" class="btn btn-sm btn-success" href="#">
                              <span class="glyphicon glyphicon-plus"></span>
                              <span class="hidden-xs">&nbsp;Nuevo</span>
                           </a>
                        </div>
                        <div class="col-sm-6 text-right">
                           <p class="help-block">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
                              Los roles permiten definir paquetes de permisos para aplicar rápidamente
                              a usuarios, en lugar de ir uno por uno.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th width="100">Código</th>
                              <th style="min-width: 300px;">Descripción</th>
                           </tr>
                        </thead>
                        {loop="$fsc->rol->all()"}
                        <tr class="clickableRow" href="{$value->url()}">
                           <td>
                              <a href="{$value->url()}">{$value->codrol}</a>
                           </td>
                           <td>{$value->descripcion}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="2">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
               {/if}
               <div role="tabpanel" class="tab-pane" id="historial">
                  <div class="container-fluid" style="margin-top: 15px; margin-bottom: 10px;">
                     <div class="row">
                        <div class="col-sm-8">
                           <p class="help-block">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
                              Puedes ver más detalles desde Admin &gt; Información del sistema.
                           </p>
                        </div>
                        <div class="col-sm-4 text-right">
                           <a href="index.php?page=admin_info" class="btn btn-sm btn-default">
                              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                              <span class="hidden-xs">&nbsp; Historial completo</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th class="text-left">Usuario</th>
                              <th></th>
                              <th class="text-left">Detalle</th>
                              <th class="text-left">IP</th>
                              <th class="text-right">Fecha</th>
                           </tr>
                        </thead>
                        {loop="$fsc->historial"}
                        <tr{if="$value->alerta"} class="danger"{/if}>
                           <td><a href="index.php?page=admin_user&snick={$value->usuario}">{$value->usuario}</a></td>
                           <td class="text-right">
                              {if="$value->alerta"}
                              <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="Podría ser importante"></span>
                              {/if}
                           </td>
                           <td>{$value->detalle}</td>
                           <td>{$value->ip}</td>
                           <td class="text-right">{$value->fecha}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                           <td colspan="5">Sin resultados.</td>
                        </tr>
                        {/loop}
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal" id="modal_nuevo_usuario">
   <div class="modal-dialog" role="document" style="width: 95%; max-width: 950px;">
      <div class="modal-content">
         <form name="f_nuevo_usuario" class="form" role="form" action="{$fsc->url()}" method="post">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Nuevo usuario
               </h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Nick:
                  <input class="form-control" type="text" name="nnick" maxlength="12" autocomplete="off" required=""/>
                  <label class="checkbox-inline">
                     <input type="checkbox" name="nadmin" value="TRUE"/>
                     Administrador
                  </label>
                  {loop="$fsc->rol->all()"}
                  <label class="checkbox-inline">
                     <input type="checkbox" name="roles[]" value="{$value->codrol}"/>
                     {$value->codrol}
                  </label>
                  {/loop}
               </div>
               <div class="form-group">
                  Contraseña:
                  <input class="form-control" type="password" name="npassword" maxlength="32" autocomplete="new-password"/>
               </div>
               <div class="form-group">
                  Email:
                  <div class="input-group">
                     <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                     </span>
                     <input class="form-control" type="text" name="nemail" autocomplete="new-email"/>
                  </div>
               </div>
               <div class="form-group">
                  <a target="_blank" href="{$fsc->agente->url()}">Empleado</a>:
                  <select name="ncodagente" class="form-control">
                     <option value="">Ninguno</option>
                     <option value="">------</option>
                     {loop="$fsc->agente->all()"}
                     <option value="{$value->codagente}">{$value->get_fullname()}</option>
                     {/loop}
                  </select>
                  <p class="help-block">
                     Puedes tener empleados que no tengan acceso a #{$fsc->reseller_data->name},
                     o bien usuarios que no sean empleados, por eso está separado.
                  </p>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
               </button>
            </div>
         </form>
      </div>
   </div>
</div>

<div class="modal" id="modal_nuevo_rol">
   <div class="modal-dialog" role="document" style="width: 95%; max-width: 950px;">
      <div class="modal-content">
         <form name="f_nuevo_rol" class="form" role="form" action="{$fsc->url()}" method="post">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp; Nuevo rol
               </h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Código:
                  <input type="text" name="nrol" class="form-control" maxlength="20" autocomplete="off" required=""/>
               </div>
               <div class="form-group">
                  Descripcion:
                  <input type="text" name="descripcion" class="form-control" autocomplete="off" required=""/>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
               </button>
            </div>
         </form>
      </div>
   </div>
</div>

{include="main_footer"}
