{include="main_header"}

{if="$fsc->suser"}
<script type="text/javascript">
   function check_allow_delete(counter)
   {
      if( $("#enabled_"+counter).is(':checked') )
      {
         $("#allow_delete_"+counter).prop('checked', true);
      }
      else
      {
         $("#allow_delete_"+counter).prop('checked', false);
      }
   }
   $(document).ready(function() {
      $("#b_eliminar_usuario").click(function(event) {
         event.preventDefault();
         bootbox.confirm({
            message: '¿Realmente desea eliminar el usuario?',
            title: '<b>Atención</b>',
            callback: function(result) {
               if (result) {
                  window.location.href = 'index.php?page=admin_users&delete={$fsc->suser->nick}';
               }
            }
         });
      });
      $("#b_nuevo_agente").click(function(event) {
         event.preventDefault();
         $("#modal_nuevo_agente").modal('show');
         document.f_nuevo_agente.nnombre.focus();
      });
      $('#marcar_todo_ver').click(function() {
         var checked = $(this).prop('checked');
         $("#f_user_pages input[name='enabled[]']").prop('checked', checked);
      });
      $('#marcar_todo_eliminar').click(function() {
         var checked = $(this).prop('checked');
         $("#f_user_pages input[name='allow_delete[]']").prop('checked', checked);
      });
   });
</script>

<form class="form" role="form" id="f_user_pages" action="{$fsc->url()}" method="post">
   <input type="hidden" name="modupages" value="TRUE"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-6">
            <div class="btn-group">
               <a class="btn btn-sm btn-default" href="index.php?page=admin_users">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  <span class="hidden-xs">&nbsp; Usuarios</span>
               </a>
               <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="recargar la página">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
               </a>
            </div>
            <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}&snick={$fsc->suser->nick}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
            </div>
            <a class="btn btn-sm btn-success" href="index.php?page=admin_users#nuevo" title="Nuevo usuario">
               <span class="glyphicon glyphicon-plus"></span>
            </a>
         </div>
         <div class="col-xs-6 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a href="#" id="b_eliminar_usuario" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs hidden-sm">&nbsp;Eliminar</span>
               </a>
               {/if}
               {if="$fsc->suser->enabled"}
               <a id="b_desactivar_usuario" class="btn btn-sm btn-warning" href="{$fsc->url()}&senabled=FALSE">
                  <span class="glyphicon glyphicon-lock"></span>
                  <span class="hidden-xs">&nbsp;Desactivar</span>
               </a>
               {else}
               <a id="b_activar_usuario" class="btn btn-sm btn-default" href="{$fsc->url()}&senabled=TRUE">
                  <i class="fa fa-check" aria-hidden="true"></i>
                  <span class="hidden-xs">&nbsp;Activar</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp;Guardar</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>
                  <i class="fa fa-user" aria-hidden="true"></i>
                  Usuario <small>{$fsc->suser->nick}</small>
               </h1>
               {if="!$fsc->suser->enabled"}
               <p class="help-block">
                  <span class="label label-danger">
                     <span class="glyphicon glyphicon-lock"></span> desactivado
                  </span>
                  &nbsp;el usuario está desactivado, no podrá acceder al sistema.
                  Pulsa el <b>botón activar</b> si quieres activarlo de nuevo.
               </p>
               {/if}
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-2">
            <div class="form-group">
               Nick:
               <input class="form-control" type="text" name="snick" value="{$fsc->suser->nick}" disabled="disabled"/>
               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="sadmin" value="TRUE"{if="$fsc->suser->admin"} checked=""{/if}/>
                     Administrador
                  </label>
               </div>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Contraseña:
               <input class="form-control" type="password" name="spassword" maxlength="32" autocomplete="new-password" placeholder="nueva contraseña"/>
               <input class="form-control" type="password" name="spassword2" maxlength="32" placeholder="repite la contraseña"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Email:
               {if="FS_DEMO"}
               <input type="text" name="email" class="form-control" autocomplete="off"/>
               {else}
               <input type="text" name="email" value="{$fsc->suser->email}" class="form-control" autocomplete="off"/>
               {/if}
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->agente->url()}">Empleado</a>:
               <select name="scodagente" class="form-control">
               {if="$fsc->user->admin"}
                  <option value="">Ninguno</option>
                  <option value="">------</option>
                  {loop="$fsc->agente->all()"}
                     {if="$fsc->suser->codagente==$value->codagente"}
                     <option value="{$value->codagente}" selected="">{$value->get_fullname()}</option>
                     {else}
                     <option value="{$value->codagente}">{$value->get_fullname()}</option>
                     {/if}
                  {/loop}
               {else}
                  {loop="$fsc->agente->all()"}
                     {if="$fsc->suser->codagente==$value->codagente"}
                     <option value="{$value->codagente}" selected="">{$value->get_fullname()}</option>
                     {/if}
                  {/loop}
               {/if}
               </select>
               {if="$fsc->user->admin"}
               <p class="help-block">
                  <a id="b_nuevo_agente" href="#">Crear un nuevo empleado y asignarlo a este usuario</a>
               </p>
               {/if}
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Página de inicio:
               <select name="udpage" class="form-control">
               {loop="$fsc->suser->get_menu()"}
                  {if="$value->show_on_menu"}
                     {if="$value->name==$fsc->suser->fs_page"}
                     <option value="{$value->name}" selected="">{$value->folder} - {$value->title}</option>
                     {else}
                     <option value="{$value->name}">{$value->folder} - {$value->title}</option>
                     {/if}
                  {/if}
               {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Estilo visual:
               <select name="css" class="form-control">
                  {loop="$fsc->extensions"}
                     {if="$value->type=='css'"}
                     <option value="{$value->text}"{if="$value->text==$fsc->suser->css"} selected=""{/if}>{$value->name}</option>
                     {/if}
                  {else}
                  <option value="view/css/bootstrap-yeti.min.css?idcache={$fsc->id_cache}">yeti</option>
                  {/loop}
               </select>
               <select name="use_sidebar_menu" class="form-control">
                  <option value="0" {if="$fsc->suser->use_sidebar_menu==false"} selected=""{/if}>Menú horizontal</option>
                  <option value="1" {if="$fsc->suser->use_sidebar_menu==true"} selected=""{/if}>Menú vertical</option>
               </select>
            </div>
         </div>
      </div>
   </div>

   <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active">
            <a href="#autorizar" aria-controls="autorizar" role="tab" data-toggle="tab">
               <i class="fa fa-check-square" aria-hidden="true"></i>
               <span class="hidden-xs">&nbsp;Autorizar</span>
            </a>
         </li>
         <li role="presentation">
            <a href="#historial" aria-controls="historial" role="tab" data-toggle="tab">
               <i class="fa fa-history" aria-hidden="true"></i>
               <span class="hidden-xs">&nbsp;Historial</span>
            </a>
         </li>
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <li role="presentation">
               <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
            </li>
            {/if}
         {/loop}
      </ul>
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="autorizar">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Página</th>
                        <th class="text-left">Menú</th>
                        <th class="text-center">Ver / Modificar</th>
                        <th class="text-center">Permiso de eliminación</th>
                     </tr>
                  </thead>
                  {if="$fsc->user->admin && !$fsc->suser->admin"}
                  <tr class="warning">
                     <td colspan="2"></td>
                     <td class="text-center" title="Marcar/desmarcar todos">
                        <input id="marcar_todo_ver" type="checkbox" name="p_ver_modificar" value=""/>
                     </td>
                     <td class="text-center" title="Marcar/desmarcar todos">
                        <input id="marcar_todo_eliminar" type="checkbox" name="p_eliminar" value=""/>
                     </td>
                  </tr>
                  {/if}
                  {if="$fsc->suser->admin"}
                  <tr class="success">
                     <td colspan="5">
                        <span class="glyphicon glyphicon-ok"></span> &nbsp;
                        Los administradores tienen acceso a cualquier página.
                     </td>
                  </tr>
                  {elseif="!$fsc->user->admin"}
                     {loop="$fsc->all_pages()"}
                     <tr>
                        <td>{$value->name}</td>
                        <td>
                           {if="$value->important"}
                           <span class="glyphicon glyphicon-star"></span> » {$value->title}
                           {elseif="$value->show_on_menu"}
                           <span class="text-capitalize">{$value->folder}</span> » {$value->title}
                           {else}
                           -
                           {/if}
                        </td>
                        <td class="text-center">
                           {if="$value->enabled"}
                           <span class="glyphicon glyphicon-check"></span>
                           {else}
                           <span class="glyphicon glyphicon-lock"></span>
                           {/if}
                        </td>
                        <td class="text-center">
                           {if="$value->allow_delete"}
                           <span class="glyphicon glyphicon-check"></span>
                           {else}
                           <span class="glyphicon glyphicon-lock"></span>
                           {/if}
                        </td>
                     </tr>
                     {/loop}
                  {else}
                     {loop="$fsc->all_pages()"}
                     <tr>
                        <td>{$value->name}</td>
                        <td>
                           {if="$value->important"}
                           <span class="glyphicon glyphicon-star"></span> » {$value->title}
                           {elseif="$value->show_on_menu"}
                           <span class="text-capitalize">{$value->folder}</span> » {$value->title}
                           {else}
                           -
                           {/if}
                        </td>
                        <td class="text-center">
                           {if="$value->enabled"}
                           <input type="checkbox" id="enabled_{$counter}" name="enabled[]" value="{$value->name}" onclick="check_allow_delete('{$counter}')" checked=""/>
                           {else}
                           <input type="checkbox" id="enabled_{$counter}" name="enabled[]" value="{$value->name}" onclick="check_allow_delete('{$counter}')"/>
                           {/if}
                        </td>
                        <td class="text-center" title="el usuario tiene permisos para eliminar en esta página">
                           {if="$value->allow_delete"}
                           <input type="checkbox" id="allow_delete_{$counter}" name="allow_delete[]" value="{$value->name}" checked=""/>
                           {else}
                           <input type="checkbox" id="allow_delete_{$counter}" name="allow_delete[]" value="{$value->name}"/>
                           {/if}
                        </td>
                     </tr>
                     {/loop}
                  {/if}
               </table>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="historial">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Último login</th>
                        <th class="text-left">IP</th>
                        <th class="text-left">Navegador</th>
                     </tr>
                  </thead>
                  <tr>
                     <td>{$fsc->suser->show_last_login()}</td>
                     <td>{$fsc->suser->last_ip}</td>
                     <td>{$fsc->suser->last_browser}</td>
                  </tr>
               </table>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-8">
                     <p class="help-block">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        &nbsp; Puedes ver más detalles desde Admin &gt; Información del sistema.
                     </p>
                  </div>
                  <div class="col-sm-4 text-right">
                     <a href="index.php?page=admin_info" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        <span class="hidden-xs">&nbsp; Historial completo</span>
                     </a>
                  </div>
               </div>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Tipo</th>
                        <th></th>
                        <th class="text-left">Detalle</th>
                        <th class="text-left">IP</th>
                        <th class="text-right">Fecha</th>
                     </tr>
                  </thead>
                  {loop="$fsc->user_log"}
                  <tr{if="$value->alerta"} class="danger"{/if}>
                     <td>{$value->tipo}</td>
                     <td class="text-right">
                     {if="$value->alerta"}
                     <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="Podría ser importante"></span>
                     {/if}
                  </td>
                     <td>{$value->detalle}</td>
                     <td>{$value->ip}</td>
                     <td class="text-right">{$value->fecha}</td>
                  </tr>
                  {else}
                  <tr class="warning">
                     <td colspan="5">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
               <iframe src="index.php?page={$value->from}{$value->params}&snick={$fsc->suser->nick}" width="100%" height="2000"></iframe>
            </div>
            {/if}
         {/loop}
      </div>
   </div>
</form>

<form class="form-horizontal" role="form" name="f_nuevo_agente" action="{$fsc->url()}" method="post">
   <div class="modal" id="modal_nuevo_agente">
      <div class="modal-dialog" role="document" style="width: 95%; max-width: 950px;">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">
                  <span class="glyphicon glyphicon-user"></span> &nbsp; Nuevo empleado
               </h4>
               <p class="help-block">Se creará un empleado y se asignará a este usuario.</p>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="nnombre" class="col-sm-2 control-label">Nombre</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="nnombre" autocomplete="off" required=""/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="napellidos" class="col-sm-2 control-label">Apellidos</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="napellidos" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="ndnicif" class="col-sm-2 control-label">{#FS_CIFNIF#}</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="ndnicif" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="ntelefono" class="col-sm-2 control-label">Teléfono</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="ntelefono" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="nemail" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                     <input class="form-control" type="text" name="nemail" autocomplete="new-email"/>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>
{else}
{include="parts/broken"}
{/if}

{include="main_footer"}
