<noscript>
    <style type="text/css">
        .container, .container-fluid {display:none;}
    </style>
    <div class="noscriptmsg text-center">
        Tu navegador no soporta JavaScript o lo tiene bloqueado, hasta que no lo habilites no podrás utilizar esta página con normalidad.
    </div>
    <div class="noscriptmsg">
        Para activarlo desde Google Chrome para PC:
        <ol>
            <li>Pulsa en el icono del candado al lado de la dirección web.</li>
            <li>Seleccionar <b>Configuración del sitio.</b></li>
            <li>Seleccionar <b>Configuración del sitio.</b></li>
            <li>Buscar <b>JavaScript</b> y cambiarlo a <b>Permitir (predeterminado)</b></li>
        </ol>
    </div>
    <div class="noscriptmsg">
        Para activarlo desde Google Chrome para Android:
        <ol>
            <li>Pulsa en el icono del candado al lado de la dirección web.</li>
            <li>Seleccionar <b>Configuración del sitio.</b></li>
            <li>Seleccionar <b>Configuración del sitio.</b></li>
            <li>Buscar <b>JavaScript</b> y cambiarlo a <b>Permitir (predeterminado)</b></li>
        </ol>
    </div>
    <div class="noscriptmsg">
        Para activarlo desde Safari para iOS:
        <ol>
            <li>Pulsar en Ajustes.</li>
            <li>Seleccionar <b>Safari</b>.</li>
            <li>Seleccionar <b>Avanzado</b> (al final).</li>
            <li>En el selector <b>JavaScript</b>, cambiarlo a <b>Activo</b></li>
        </ol>
    </div>
    <div class="noscriptmsg">
        Para otros navegadores o sistemas operativos, busca como activarlo.
    </div>
</noscript>
