{include="main_header"}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <i class="glyphicon glyphicon-user"></i>
                    Su cuenta está bloqueada
                    <span class="btn-group">
                        <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h4>
                Puede ponerse en contacto con nosotros a través del chat de soporte o llamando al {$fsc->reseller_data->telefono}.
            </h4>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{include="main_footer"}
